@font-face {
    font-family: 'Retro Mario Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Retro Mario Regular'), url('RetroMario-Regular.woff') format('woff');
}

h1 {
    font-family: 'Retro Mario Regular';
    font-weight: 200;
    font-size: 60;
    color: #0ccac4;
}